<div bsModal #childModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add item to map</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #itemForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" required [(ngModel)]="model.name" name="name">
          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea class="form-control" required [(ngModel)]="model.description"
                      name="description"></textarea>
          </div>
          <div class="form-group">
            <label>Category:</label>
            <select class="form-control" required [(ngModel)]="categoryId" name="categoryId">
              <option *ngFor="let category of categories" value={{category.id}}>
                {{category.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Subcategory:</label>
            <select class="form-control" required [(ngModel)]="model.subcategoryId" name="subcategoryId">
              <ng-container *ngIf="categories && categoryId && categories[categoryId]">
                <option *ngFor="let subcategory of categories[categoryId].subcategories"
                        value={{subcategory.id}}>
                  {{subcategory.name}}
                </option>
              </ng-container>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!itemForm.form.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>